* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}
a {
	text-decoration: none;
	color: black;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
body {
	padding-top: 70px;
}
section:first-of-type {
	margin-top: 70px;
}
/* header styles */
header {
	background-color: lightsalmon;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.logo {
	width: 100px;
	height: 70px;
}
.logo img {
	object-fit: contain;
	height: 100%;
}
nav,
nav li,
.logo {
	display: inline-block;
	vertical-align: middle;
}

/* section styles */
.box {
	display: inline-block;
	max-width: 400px;
	width: 100%;
	position: relative;
}
.box img {
	height: 300px;
	object-fit: cover;
}
.box p {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	transform: translate(-50%, -50%);
}

.box:nth-child(2n) p {
	background-color: rgba(255, 0, 0, 0.5);
}
.container:has(p:only-child) {
	background-color: red;
}
.fixed {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: red;
	position: fixed;
	right: 50px;
	bottom: 50px;
}
.page-title {
	font-size: 30px;
	background-color: blueviolet;
	padding: 10px 0;
	position: sticky;
	top: 70px;
	left: 0;
	z-index: 1;
}
/* footer styles */
footer {
	background-color: lightseagreen;
	padding: 20px 0;
}
footer p {
	text-align: center;
}

footer p::after {
	content: "💛";
	font-size: 20px;
}
footer p::before {
	content: "";
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: aliceblue;
}
